@use 'mixins' as *;

h1 {
  @include fluid-text(48, 28);
  margin-top: 0;
  line-height: var(--title-line-height);
}

h2 {
  @include fluid-text(42, 24);
  margin-top: 0;
  line-height: var(--title-line-height);
}

h3 {
  @include fluid-text(34, 20);
  margin-top: 0;
  line-height: var(--title-line-height);
}

h4 {
  @include fluid-text(26, 18);
  margin-top: 0;
  line-height: var(--title-line-height);
}

p {
  margin-top: 0;
}
