.accordion {
  display: flex;
  min-height: 810px;
  gap: 1px;
  /* overflow-x: auto; */
}

/* .cardWrapper {
  height: 100%;
  transition: all 0.4s ease;
} */

/* .active {
  width: 737px;
  flex-shrink: 0;
}

.inactive {
  width: 76px;
  flex-shrink: 0;
} */
