.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--sm-offset);
  background-color: var(--background-light);
  position: relative;
  padding: 52px 45px 30px 45px;
  border-radius: var(--main-border-radius-bg);
  color: var(--primary);

  &:nth-child(odd) {
    background-color: var(--primary);
    color: var(--text-white);
  }
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: clamp(60px, 8vw, 80px);
  height: clamp(60px, 8vw, 80px);
  background-color: var(--primary-accent);
  position: absolute;
  top: -40px;

  img {
    @media screen and (max-width: 560px) {
      width: 30px;
      height: 30px;
    }
  }
}
