@use 'mixins' as *;

.root {
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  color: #000;
  text-decoration: none;
  transition: color var(--main-transition);

  &:hover {
    a {
      color: var(--primary);
      transition: color var(--main-transition);
    }
  }

  a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
  }
}

.image {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    color: #444;
  }
}
