@use 'sass:math';

@mixin fluid-text($max: 48, $min: 16) {
  $maxViewportWidth: 1400;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.';
  }
}

@mixin media-down($width) {
  @media (max-width: calc($width - 1px)) {
    @content;
  }
}

@mixin media-up($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin clamp($property, $min, $max, $viewport: 1000) {
  $min-val: strip-unit($min);
  $max-val: strip-unit($max);
  // Пересчитываем коэффициент для нужного $vw
  $vw-coeff: (($max-val - $min-val) / ($viewport / 5)); // теперь 1vw = 5px
  #{$property}: clamp($min, #{$vw-coeff}vw, $max);
}
