@use 'mixins' as *;

.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--main-border-radius-bg);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--main-border-radius-bg);
  z-index: 10;
  padding: 12px clamp(20px, 2vw, 40px);

  @include media-down(440px) {
    border-radius: 0;
  }

  .pagination {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;

    @include media-down(440px) {
      justify-content: center;
    }
  }
}
.pagination {
  display: flex;
  position: relative;

  span.swiper-pagination-bullet-active {
    background: var(--primary);
  }
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(var(--sm-offset) - 5px);

  @include media-down(440px) {
    display: none;
  }
}

.button {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary);
  border-radius: var(--main-border-radius);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  transition: opacity var(--base-transition);

  svg {
    width: initial;
    height: initial;
  }
  &_prev,
  &_next {
    &::after {
      display: none;
    }
  }

  &_prev {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.8;
  }
}
