.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px;
  color: #000;
  text-decoration: none;
}

.image {
  object-fit: contain;
  border-radius: 20px;
}
