.content {
  display: grid;
  grid-template-columns: minmax(300px, 580px) 1fr;
  gap: var(--sm-offset);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sm-offset);
}

.image {
  object-fit: cover;
  max-width: 100%;
  border-radius: var(--main-border-radius-bg);
}
